/*--------general-------------*/

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  a:hover {
    color: #51cdbe;
    text-decoration: none;
  }
  a {
    color: #34b7a7;
    text-decoration: none;
  }
  
  a:hover {
    color: #51cdbe;
    text-decoration: none;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  /*--------------------------header------------------------*/
#header{
  
    box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);

    height: 11%;
   
}
#header a{
    text-decoration: none;
    color: rgb(18, 20, 20);
    background: #e9e8e6;
}
h2{
  color: rgb(117, 167, 196);
}

 /*------------------------navbar--------------------------*/
  
  @media (min-width: 992px){
    .navbar li {
        margin-left : 0.5em;
        margin-right : 0.5em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(18, 20, 20);
        
      }
}
nav .navbar-nav li a{
  color: rgb(117, 167, 196) !important;
  font-weight: bold;
  }
  nav .navbar-nav li a:hover{
    color: rgb(150, 151, 151) !important;
    }


.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #04b14c;
  color: transparent;
  width: 0%;
  content: '.';
  height: 3px;
  transition: width 1s;
}
.navbar .navbar-nav .nav-link:hover::after {
  width: 75%;
  
  
}



.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #888888;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}





.navbar-toggler-icon{
  color: rgb(117, 167, 196) !important;
}
.linkedin{
  color: blue;
}
/*----------------cover section---------*/
#cover {
  width: 100%;
  height: 100vh;
  background: url("img/pexels-breakingpic-3061.jpg") top right;
  background-size: cover;
}
#cover h1 {
  font-weight: strong;
  color: #222222;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#cover h3 {

  color: white;
  font-size: x-large;
  text-shadow: #222222;
 
 
}
#cover .btn-about {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #34b7a7;
}

#cover .btn-about:hover {
  background: #3dc8b7;
}

@media (min-width: 1024px) {
  #cover {
    background-attachment: fixed;
  }
}

/*---------about section--------*/

#about p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#about h2 {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  
}


.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #34b7a7;
  bottom: 0;
  left: calc(50% - 25px);
}
#about_li h3{
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}